/* основний колір тексту #212121 */
/* вторинний колір тексту #757575 */
/* колір акцент тексту #2196F3 */
/* білий #FFFFFF */
/* rgba(255, 255, 255, 0.6) */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --accent-button-color: #188ce8;
  --primary-white-color: #ffffff;
  --primary-black-color: #000;
  --additional-color: rgba(255, 255, 255, 0.6);
  --background-grey-color: #2f303a;
  --additional-background-color: #f5f4fa;
  --portfolio-background: #eeeeee;
  --header-border: #ececec;
  --social-links: #afb1b8;
  --bg-social-links: rgba(255, 255, 255, 0.1);
  --bg-customers: #f5f5f5;
  --bg-overlay: #c4c4c4;
  --bg-label: rgba(47, 48, 58, 0.8);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* * {
    outline: 1px solid yellow;
} */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  background-color: var(--primary-white-color);
  color: var(--title-text-color);
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration-line: none;
  /* transition: color 500ms; */
}

img {
  max-width: 100%;
  display: block;
}

header {
  border-bottom: 1px solid var(--header-border);
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/* .page-header {
} */

.header-nav,
.container-header {
  display: flex;
  align-items: center;
}

.header-list > .item + .item,
.contact > .item + .item {
  margin-left: 50px;
}

.header-logo {
  padding-top: 24px;
  padding-bottom: 25px;

  color: var(--primary-black-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header-logo .accent {
  color: var(--accent-color);
}

.header-list {
  display: flex;
  margin-left: 93px;
}

.header-list .link {
  position: relative;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms var(--timing-function);
}

.header-list .link:hover,
.header-list .link:focus {
  color: var(--accent-color);
}

.header-list .link.current {
  color: var(--accent-color);
}

.header-list .link.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contact .link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms var(--timing-function);
}

.contact svg {
  fill: var(--primary-text-color);

  transition: fill 250ms var(--timing-function);
}

.contact .link:hover,
.contact .link:focus {
  color: var(--accent-color);
}

.contact .link:hover svg,
.contact .link:focus svg {
  fill: var(--accent-color);
}

/* section hero */

.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-color: var(--bg-overlay);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

/* .container-hero {
  
} */

.hero-title {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  max-width: 696px;

  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

button {
  display: inline-block;
  border-radius: 4px;
  min-width: 73px;
  border: 2px solid transparent;

  color: var(--primary-white-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  text-align: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button {
  padding: 8px 30px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);

  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
}

.hero-button:hover,
.hero-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-button-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.advanteges {
  padding-top: 94px;
  padding-bottom: 47px;
}

/* .container-advanteges {
  
} */

.advanteges-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}

.advanteges-list .item {
  display: block;
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}

.advanteges-list .item:last-child {
  margin-right: 0;
}

.advantages-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  height: 120px;
  background-color: var(--additional-background-color);
  border-radius: 4px;
}

.advantages-wrap svg {
  fill: var(--title-text-color);
}

.advanteges-item {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advanteges-text {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.section-about {
  text-align: center;
  padding-top: 47px;
  padding-bottom: 94px;
}

.about-list {
  display: flex;
  align-items: center;
}

.about-list .item {
  margin-right: 30px;
}

.about-list .item:last-child {
  margin-right: 0;
}

.wrap-text {
  position: relative;
}

.wrap-text img {
  display: block;
}

.image-title {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.section-team {
  background-color: var(--additional-background-color);
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

/* .container-team {
  
} */

.about-title,
.team-title {
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}

.team-card {
  margin-right: 30px;
  width: calc((100% - 90px) / 4);

  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card:last-child {
  margin-right: 0;
}

.team-card > .wrap {
  padding-top: 30px;
  padding-bottom: 30px;
}

.name {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.name-text {
  margin-bottom: 16px;

  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-card-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.social-link {
  width: 44px;
  height: 44px;
  background-color: var(--primary-white-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms var(--timing-function);
}

.social-link svg {
  fill: var(--social-links);

  transition: fill 250ms var(--timing-function);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

.social-link:hover svg,
.social-link:focus svg {
  fill: var(--primary-white-color);
}

.section-customers {
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers-title {
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.customers-item {
  display: flex;
}

.customers-link {
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--social-links);
  border-radius: 4px;

  transition: border-color 250ms var(--timing-function);
}

.customers-link svg {
  fill: var(--social-links);

  transition: fill 250ms var(--timing-function);
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--accent-color);
}

.customers-link:hover svg,
.customers-link:focus svg {
  fill: var(--accent-color);
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter-list {
  text-align: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.filter-list .item {
  display: inline-block;
  margin-right: 8px;
}

.filter-list .item:last-child {
  margin-right: 0;
}

.button-filter {
  padding: 6px 22px;

  color: var(--title-text-color);
  background-color: var(--additional-background-color);
  border: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  box-shadow: none;

  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}

.button-filter:hover,
.button-filter:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-filter.all {
  padding: 6px 25px;
}

.examples-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.examples-card {
  width: calc((100% - 60px) / 3);
}

.examples-card a {
  display: block;

  transition: box-shadow 250ms var(--timing-function);
}

.examples-card a:hover,
.examples-card a:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples-card .photo {
  min-width: 370px;
}

.examples-photo-wrap {
  position: relative;
  overflow: hidden;
}

.examples-description {
  top: 0;
  left: 0;
  transform: translateY(100%);

  position: absolute;
  height: 100%;
  padding: 63px 23px;
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);

  transition: transform 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
}

.examples-photo-wrap:hover .examples-description,
.examples-photo-wrap:focus .examples-description {
  transform: translateY(0);
}

.examples-card .wrap {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid var(--portfolio-background);
  border-right: 1px solid var(--portfolio-background);
  border-bottom: 1px solid var(--portfolio-background);
}

.examples-title {
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--background-grey-color);
  font-family: "Roboto", "Sans-Serif";
}

.container-footer {
  display: flex;
  align-items: baseline;
}

.footer-address {
  margin-right: 70px;
}

.footer-logo {
  margin-bottom: 20px;
  display: block;

  color: var(--primary-white-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer-logo .accent {
  color: var(--accent-color);
}

.footer-contact {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-contact .item {
  margin-bottom: 9px;
}

.footer-contact .item:last-child {
  margin-bottom: 0;
}

.footer-contact .link {
  color: var(--additional-color);

  transition: color 250ms var(--timing-function);
}

.footer-contact .address {
  color: var(--primary-white-color);
}

.footer-contact .link:hover,
.footer-contact .link:focus {
  color: var(--accent-color);
}

.footer-social {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.footer-text {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.footer-social-link .social-link {
  width: 44px;
  height: 44px;
  background-color: var(--bg-social-links);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms var(--timing-function);
}

.footer-social svg {
  fill: var(--primary-white-color);

  transition: fill 250ms var(--timing-function);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

.social-link:hover svg,
.social-link:focus svg {
  fill: var(--primary-white-color);
}

/* modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  transform: scale(1);
  width: 100%;
  height: 100vh;

  opacity: 1;
  background: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms var(--timing-function),
    visibility 250ms var(--timing-function),
    transform 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 528px;
  width: 581px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
